*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #B2AA9D;
}

.navigation ul {
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 5;
    text-align: center;
}

.navigation li {
    display: inline;
}

.navigation li a {

    padding: 10px 10px;
    margin: 10px 10px;
    display: inline-block;
    background: transparent;
    color: #8C3B4A;
    text-align: center;
    font-size: 20px;
}

.anne{
   width: 100%;
   height: 500px;
   object-fit: cover;
}

.text-box{
    width: auto;
    position: absolute;
    padding: 20px;
    margin: 55px;
    margin-top: -3rem;
    border: 3px;
    border-style:solid;
    border-color: #B4BFB4;
    background-color: #B4BFB4;
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;


}

.overskrift{
    color: #8C3B4A;
    text-align: center;
    margin-top: 5rem;
}

.moonshine{
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}


.moonshine-hojskole{
    font-size: 20px;
    padding: 10px;
    margin: 20px;

}

.ballet{
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    
}

.zealand-ballet{
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

.happyfeet{
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}


.happy{
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}


.groenvilje{
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(img/groenvilje.png);
    }

.groen{
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

.ommig{
    color: #8C3B4A;
    text-align: center;
    margin-top: 5rem;

}
.profil{
    font-size: 20px;
    padding: 10px;
    margin: 10px;

}

.anneprofil{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
    
    


footer{
    padding: 10px;
    background-color: #B4BFB4;
    color: #8C3B4A;
    text-align: center;
    
}

.contact{
    font-weight: bold;
    margin: 10px;
}

.info{
    margin: 13px;
}

.facebook{
    width: 75px;
    padding: 10px;
    margin: 2px;
    

}


.instagram{
    width: 75px;
    padding: 10px;
    margin: 2px;
    
  
}

.linkedin{
    width: 75px;
    padding: 10px;
    margin: 2px;
    
}

/*Ny side - rumrejsen*/

.moon{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.overskrift2{
    color: #8C3B4A;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: bold;

}

.profil2{
    font-size: 20px;
    padding: 13px;
    margin-bottom: 2rem;
}

/*Ny side - Zealand Ballet*/

.zealand{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

/*Ny side - Happy Feet */
.happy2{
    margin: 13px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

/*Ny side - Grøn Vilje*/

.groen2{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;

}

/*media queries*/

@media screen and (min-width: 500px) {
    .navigation ul {
        width: 100%;
        position: relative;
        z-index: 5;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .anne{
        margin-top: -70px;
    }

    .text-box{
        width: 75%;
        position: absolute;
        margin-right: 5rem;
        margin-left: 4rem;
        padding-right: 10px;
        margin-top: -50px;
        border: 3px;
    }  
    
    
    .moon{
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    
    .zealand{
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    .ommig{
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .profil{
        margin: 25px;
    }

    .happy2{
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }
    
     .groen2{
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;}
}


@media screen and (min-width: 700px) {

    .text-box{
        width: 75%;
        position: absolute;
        margin-right: 5rem;
        margin-left: 6rem;
        padding: 40px;
        margin-top: -100px;
        border: 3px;
        font-size: 40px;
       
    }  

    .overskrift{
       font-size: 40px;
       padding-top: 60px;
       padding-bottom: 10px ;
    }

    .moonshine{
        width: 85%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
       
        
    }
    .moonshine-hojskole{
        font-size: 20px;
        margin: 50px;
        margin-top: 10px;
    }
    .zealand-ballet{
       font-size: 20px;
       margin: 50px;
       margin-top: 10px;
    }
    .happy{
        font-size: 20px;
        margin: 50px;
        margin-top: 10px;
    }
    
    .groen{
        font-size: 20px;
        margin: 50px;
        margin-top: 10px;
    }

    .profil{
        font-size: 20px;
        margin: 50px;
        margin-top: 10px;
    }



@media screen and (min-width: 970px) {

    .navigation li a {
        font-size: 30px;
    }
    .anne{
        margin-top: -5rem;
    }
   
    .text-box{
        width: 75%;
        position: absolute;
        margin-right: 9rem;
        margin-left: 10rem;
        padding: 40px;
        margin-top: -100px;
        border: 3px;
        font-size: 40px;
       
    }  

    .overskrift{
       font-size: 40px;
       padding-top: 100px;
       padding-bottom: 40px ;
    }

    .moonshine{
        width: 65%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
       
        
    }
    .moonshine-hojskole{
        font-size: 30px;
        margin: 50px;
        margin-top: 50px;
    }
    
    .ballet{
        width: 65%;
    }
    
    .zealand-ballet{
       font-size: 30px;
       margin: 50px;
       margin-top: 50px;
    }

    .happyfeet{
        width: 65%;
    }
    .happy{
        font-size: 30px;
        margin: 50px;
        margin-top: 50px;
    }

    .groenvilje{
        width: 65%;
    }
    
    .groen{
        font-size: 30px;
        margin: 50px;
        margin-top: 50px;
    }

    .ommig{
        font-size: 40px;
        padding-top: 100px;
        padding-bottom: 40px ;

    }

    .profil{
        font-size: 30px;
        margin: 50px;
        margin-top: 10px;
    }
