*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #B2AA9D;
}

.navigation ul {
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 5;
    text-align: center;
}

.navigation li {
    display: inline;
}

.navigation li a {

    padding: 10px 10px;
    margin: 10px 10px;
    display: inline-block;
    background: transparent;
    color: #8C3B4A;
    text-align: center;
    font-size: 20px;
}

.anne{
   width: 525px;
}

.text-box{
    position: absolute;
    padding: 20px;
    margin: 55px;
    margin-top: -3rem;
    border: 3px;
    border-style:solid;
    border-color: #B4BFB4;
    background-color: #B4BFB4;
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;


}

.overskrift{
    color: #8C3B4A;
    text-align: center;
    margin-top: 5rem;
}

.moonshine{
    margin: 15px;
    width: 350px;
    align-items: center;
}

.moonshine-hojskole{
    font-size: 20px;
    padding: 10px;
    margin: 10px;

}

.zealand{
    margin: 15px;
    width: 350px;
    align-items: center;
}

.zealand-ballet{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.happyfeet{
    margin: 15px;
    width: 350px;
    align-items: center;
}

.happy{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}


.groenvilje{
    margin: 15px;
    width: 350px;
    align-items: center;
    background-image: url(img/groenvilje.png);
    }

.groen{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.profil{
    font-size: 20px;
    padding: 10px;
    margin: 10px;

}

.anneprofil{
    position: relative;
    align-items: center;
    margin: 20px 70px 40px 70px;
    
}


footer{
    margin: 13;
    padding: 10px;
    background-color: #B4BFB4;
    color: #8C3B4A;
    text-align: center;
    
}

.contact{
    font-weight: bold;
    margin: 10px;
}

.info{
    margin: 13px;
}

.facebook{
    width: 75px;
    padding: 10px;
    margin: 2px;
   
   
}

.instagram{
    width: 75px;
    padding: 10px;
    margin: 2px;
    
  
}

.linkedin{
    width: 75px;
    padding: 10px;
    margin: 2px;
    
}

/*Ny side - rumrejsen*/

.moon{
    margin: 15px;
    margin-top: 50px;
    width: 350px;
    align-items: center;
}

.overskrift2{
    color: #8C3B4A;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: bold;

}

.rumrejsenfooter{
    position: relative;
    padding: 20px;
    background-color: #B4BFB4;
    text-align: center;
}

.profil2{
    font-size: 20px;
    padding: 13px;
    margin-bottom: 2rem;
}